.homecontainer .backgroundImg1 {
  background: url("/public/images/main.png") no-repeat;
  opacity: 0.9;
  min-height: 100vh;
  background-color: black;
  height: auto;
}

.about-image {
  height: 676px;
  width: 313px;
}

.about-para {
  font-style: normal;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
}

.mobile-border  {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  height: 675px;
}

.para-heading {
  font-family: 'Poppins';
  font-size: 41px;
  font-weight: 600;
}

.custom-underline {
  position: relative;
  color: white;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  border-bottom: 2px solid #C4253B;
}

.mt-6 {
  margin-top: 125px;
}

.custom-underline-text {
  position: relative;
  color: white;
}

.custom-underline-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  border-bottom: 2px solid #C4253B;
}