.homecontainer .backgroundImg111 {
  background: url("/public/images/main.svg") no-repeat;
  opacity: 0.9;
  min-height: 90vh;
  background-color: black;
  height: auto;
}

.backgroundLine1 {
  background-image: url("/public/images/v-line1.svg");
  margin-top: 5px;
}

.backgroundLine2 {
  background-image: url("/public/images/v-line1.svg");
}
.backgroundLine3 {
  background-image: url("/public/images/v-line1.svg");
}
.about-image {
  height: 676px;
  width: 313px;
}

.main-about {
  width: 100%;
  display: flex;
}

.internal-div {
  width: 50%;
}

.readButton {
  cursor: pointer;
      font-size: 15px;
      margin-top: -30px;
      width: 100px
}

.about-para {
  margin-top: 30px;
  font-style: normal;
  font-family: 'Poppins';
  font-weight: 400;
  opacity: 0.8;
  font-size: 17px;
  line-height: 40px;
}

.mobile-border  {
  border-radius: 60px;
  height: 675px;
}

.para-heading {
  font-family: 'Poppins';
  font-size: 27px;
  font-weight: 600;
}

.custom-underline {
  position: relative;
  color: white;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 50%;
  border-bottom: 2px solid #C4253B;
}

.mt-6 {
  margin-top: 125px;
}

.custom-underline-text {
  position: relative;
  color: white;
}

.custom-underline-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  border-bottom: 2px solid #C4253B;
}

@media screen and (max-width: 390px) {
  .main-about {
    flex-direction: column;
  }

  .vectors {
    display: none;
  }
  
  .readButton {
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }

  .reverse-col {
    flex-direction: column-reverse;
  }
  .internal-div {
      width: 100%;
    }
}