.termscontainer .title {
  font-weight: 600;
  font-size: 30px;
  color: white;
  font-family: 'Poppins';
  border-bottom: 2px solid #c4253b;
  padding-bottom: 10px;
}

.termscontainer .backgroundImg1 {
  background: url("/public/images/main.png") no-repeat;
  opacity: 0.9;
  min-height: 100vh;
  background-color: black;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
}

.termscontainer .terms {
  color: white;
  font-family: 'Poppins';
  padding-bottom: 50px;
}

.termscontainer .terms a {
  color: white;
  text-decoration: none;
}

.termscontainer .terms h4 {
  font-weight: 600 !important;
}

@media screen and (max-width: 390px) {
  .termscontainer .termscontainer2 {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .termscontainer .title2 {
    margin-top: 50px;
    margin-bottom: 100px !important;
  }
  .termscontainer .terms {
    font-size: 14px;
  }
}
