@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 219, 220;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.ReactModal__Content {
  padding: 10px !important;
  border-radius: 12px !important;
  border: 1px solid #6b6b6b !important;
  background-color: #000000 !important;
  width: 1400px !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  height: 95vh;
}

.react-tabs__tab-list {
  display: flex !important;
  justify-content: space-around !important;
  border-bottom: none !important;
}

.react-tabs__tab {
  color: #6a6a6a !important;
  background-color: transparent !important;
  border: none !important;
}

.react-tabs__tab-panel {
  padding-top: 0 !important;
}
.react-tabs {
  width: 100% !important;
}

.react-tabs__tab-list {
  height: 140px !important;
  margin: 0 !important;
  align-items: end !important;
}

th {
  font-weight: lighter;
}

tr {
  font-weight: lighter;
}

.fontWeight {
  font-weight: lighter;
}

.fontSize {
  font-size: 13px;
  overflow: hidden;
}